<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UIScrollView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9604C7B71E6F008A00CB3294</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9604C7CB1E6F008A00CB3294</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9604C7D61E6F008B00CB3294</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
